.item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid gray;
  cursor: pointer;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.span{
  margin-left: 20px;
}
.card{
  cursor: pointer;

}
